<div class='container'>
  <div class='jumbotron'>
    <div class='row'>
      <img class="img-circle col-md-4" src="/images/me.jpg" alt="Me!">
      <div class='col-md-8 pull-right'>
        <h1>Hi, my name's Madison</h1>
        <p class='lead'>This is my website</p>
      </div>
    </div>
  </div>
  <div class='content'>
    <%= @html %>
  </div>
</div>

<% if @current_user %>
  <%= erb :_editor %>
<% end %>
