.editor-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.editor .maximize {
  border-radius: 50%;
  color: #00B21A;
  top: 9px;
  right: 18px;
}

.editor .minimize {
  border-radius: 50%;
  color: #fdc041;
  top: 9px;
  right: 18px;
  margin-right: 3px;
}

.editor {
  -webkit-box-shadow: 3px 1px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 22px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.save-button {
  border-radius: 4px 0 0 0;
}
