h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.editor-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.editor {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
